/* #48A3B7 */
* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  /* overflow: hidden; */
  overflow-x: hidden;
  font-family: "Lora", serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../images/homebg.png);
  background-position: cover;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
}

h4 {
  font-size: 2rem;
}

.navbar {
  width: 100%;
  height: 10vh;
  /* margin-left: 16rem;   */
  display: flex;
  align-items: center;
  place-items: center;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  font-size: 1.7rem;
  font-weight: 600;
  color: #232d60;
  text-align: center;
  padding: 1.4rem 3rem;
  text-decoration: none;
}
.navbar a:hover {
  color: #e41a9a;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
  cursor: pointer;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 1.7rem;
  font-weight: 600;
  border: none;
  outline: none;
  color: #232d60;
  padding: 1.4rem 1.6rem;
  background-color: inherit;
  cursor: pointer;
}

.dropdown .dropbtn:hover {
  color: #e41a9a;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-image: url(../images/homebg.png);
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.logout {
  position: relative;
  width: 17rem;
  /* margin-left: 15rem; */
  border-radius: 1.5rem;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  background: linear-gradient(45deg, #83a8f7, #e41a9a);
  box-shadow: 0.3rem 0.8rem 2.2rem rgba(105, 30, 75, 0.15);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
  cursor: pointer;
}

.logout a:hover {
  border: none;
  color: #393c49;
}

.logout a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.homeimg {
  position: absolute;
  bottom: 1rem;
  right: 0;
  height: 90%;
  /* opacity: 0.8; */
}

.catheader {
  font-size: 4rem;
  text-transform: uppercase;
  color: #232d60;
  letter-spacing: 0.4rem;
  text-shadow: 0.2rem 0.2rem #f17ac6;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.show-triggers {
  cursor: pointer;
}

/* categorypage */

.categories {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 40rem;
}

.grid {
  display: grid;
  width: 135em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}

.griditem {
  background: url(../images/back.png);
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.griditem:hover {
  transform: translateX(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 40rem;
  object-fit: contain;
}

.card-content {
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.card-content h1 {
  top: 0.5rem;
  font-size: 3rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0);
  margin-bottom: 1.5rem;
}

.card-content p {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #393c49;
  margin-bottom: 2.5rem;
  padding: 0rem 0.5rem 0 0.5rem;
  font-weight: 500;
}

.card-content .header {
  font-size: 2rem;
  color: #232d60;
  top: 1rem;
  font-weight: 700;
}

.visitbtn {
  border-radius: 1.5rem;
  padding: 1.5rem;
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(45deg, #83a8f7, #e41a9a);
  box-shadow: 0.3rem 0.8rem 2.2rem rgba(105, 30, 75, 0.15);
  /* padding: 0.8rem 2.5rem; */
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
  cursor: pointer;
}

.visitbtn:hover {
  background: linear-gradient(45deg, #e41a9a, #6692f3);
  border: none;
  font-weight: 700;
}

.visitbtn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.visitbtn:hover span {
  margin-left: 1.5rem;
}

.visitbtn a {
  text-decoration: none;
  color: white;
}

.visitbtn a:hover {
  text-decoration: none;
  color: #232d60;
}

/* footersection */

footer {
  background: url(../images/back.png);
  height: auto;
  width: 100vw;
  padding-top: 4rem;
  color: #232d60;
}

.contact .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contact .content h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
}

.contact .content p {
  max-width: 50rem;
  margin: 2rem auto;
  line-height: 2.8rem;
  font-size: 1.5rem;
}

.copyright {
  width: 100vw;
  padding: 2rem 0;
  text-align: center;
}

.copyright p {
  font-size: 1.4rem;
  word-spacing: 0.2rem;
  text-transform: capitalize;
}

.copyright span {
  text-transform: uppercase;
  opacity: 0.9;
  font-weight: bolder;
}
