{% extends 'layout1.html' %}
{% block body %} 
  <h1 class="heading" style="color:#232d60;text-align: center;font-size: 4rem;">BRANCHES</h1>
    <div class="tablecreate" id="blur">
      

<table class="table create">
  <thead>
    <tr>
      <th scope="col">Manufacturer ID</th>
      <th scope="col">Bname</th>
      <th scope="col">Baddress</th>
      <th scope="col">Bphone</th>
      

    </tr>
  </thead>
  <tbody>
    {% for post in query %}
    <tr>
      <th scope="row">{{post.M_id}}</th>
      <td>{{post.Bname}}</td>
      <td>{{post.Baddress}}</td>
      <td>{{post.Bphone}}</td>
    </tr>
    {% endfor %}
{% endblock %}