<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora&family=Source+Sans+Pro:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
</html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/stationary.css">
    <title>Customers</title>
</head>
<body>

   
  <h1 class="heading" style="color:#232d60;text-align: center;font-size: 4rem;">CUSTOMERS</h1>
    <div class="tablecreate" id="blur">
      

<table class="table create">
  <thead>
    <tr>
      <th scope="col">Customer ID</th>
      <th scope="col">Cname</th>
      <th scope="col">Caddress</th>
      <th scope="col">Cphone</th>
      

    </tr>
  </thead>
  <tbody>
    {% for post in query %}
    <tr>
      <th scope="row">{{post.C_id}}</th>
      <td>{{post.Cname}}</td>
      <td>{{post.Caddress}}</td>
      <td>{{post.Cphone}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


         </div>
       
    
        <script type="text/javascript">
            function toggle(){
                var blur=document.getElementById('blur');
                blur.classList.toggle('active')
                var btn=document.getElementById('btn');
                btn.classList.toggle('active')
            }
        </script>
      </body>
      </html>
      