<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <meta http-equiv="refresh" content="1"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lora&family=Source+Sans+Pro:wght@300&display=swap"
    rel="stylesheet" />
</head>

</html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/css/stationary.css">
<title>Store Details</title>
</head>

<body>

  {%block body%}
  {%endblock%}
  <div class="container">
    <label>Stock Name</label>
    <input type="text" name="Stname" id="Stname" placeholder="Enter the stock name" required />
  </div>
  <div class="container">
    <label>Stock Amount</label>
    <input type="text" name="Stamount" id="Stamount" placeholder="Enter the stock amount" required />
  </div>
  <div class="container">
    <label>Shop ID</label>
    <input type="text" name="Sh_id" id="Sh_id" placeholder="Enter the shop ID" required />
  </div>
  <div class="container">
    <label>Customer ID</label>
    <input type="text" name="C_id" id="C_id" placeholder="Enter the customer ID" required />
  </div>

  <div class="container">
    <input type="submit" name="submit" value="Submit" id="submit" />
  </div>
  </form>
  </div>
  </div>

  <div class="tablecreate" id="blur">


    <table class="table create">
      <thead>
        <tr>
          <th scope="col">St_id</th>
          <th scope="col">Stname</th>
          <th scope="col">Stamount</th>
          <th scope="col">Stbarcode</th>
          <th scope="col">Sh_id</th>
          <!-- <th scope="col">M_id</th> -->
          <th scope="col">EDIT</th>
          <th scope="col">DELETE</th>

        </tr>
      </thead>
      <tbody>
        {% for post in query %}
        <tr>
          <th scope="row">{{post.St_id}}</th>
          <td>{{post.Stname}}</td>
          <td>{{post.Stamount}}</td>
          <td>{{post.Stbarcode}}</td>
          <td>{{post.Sh_id}}</td>
          <td>
            <div class="edit_btn"><a href="/edit/{{post.St_id}}">Edit </a></div>
          </td>
          <td>
            <div class="delete_btn" onclick="return confirm('Are you sure you want to delete this item?');"><a
                href="/delete/{{post.St_id}}">Delete</a></div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


  </div>
  <script type="text/javascript">
    function toggle() {
      var blur = document.getElementById('blur');
      blur.classList.toggle('active')
      var btn = document.getElementById('btn');
      btn.classList.toggle('active')
    }
  
  </script>
</body>

</html>